.create {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.label {
    text-align: left;
    display: block;
}

.h {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.call {
    width: 100px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

 .button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}

/* new main styles */


.cont{
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid green;
}


    .btn1 {
        
      background-color: transparent;
      color:rgba(230, 67, 18, 0.925);
      border: 1px solid rgba(150, 150, 140, 0.822);
      font-weight:bold ;
      cursor: pointer;
      margin: 5px;
      padding: 10px 5px;
      text-align: center;
    }
  
    .btn1:hover,
    .btni:active {
      background-color: rgb(0, 255, 136);
      color: rgb(22, 1, 1);
    }
  
  .label {
      display: block;
      text-align: center;
  }
  .input{
    width: 65%;
}