
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  background: #f2f2f2;
  color: #ddd;
  font-family: cursive;
  margin: 0;
  height: 100;
  background:  url(chop.jpg);
  background-size: cover;
}

/* Main style */

.content{
  
  font-family: Cambria, serif;
}
/* All a tags */
a{
  text-decoration: none;
}

/* Navigation styles */
nav {
  display: flex;
  width: 100%;
  background-color: rgb(50, 58, 66);
  margin-bottom: 100px;
}

.close {
  margin-left: auto;
  
}
.open{
  margin-left: auto;
}
.open a {
  color: #f1356d;
  margin: 5px;
}
.close a {
  color: #f1356d;
}
.logo {
  width: 60%;
  color: #f1356d;
  margin: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(50, 58, 66);
  color:#f1356d;
  text-align: center;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}



@media (min-width: 480px) {
  .navbar .DrawerToggle{
    display: none;
  }
  .DrawerToggle {
      display: none;
  }
}

@media (max-width: 480px) {
  .navbar{
    display: block;
    height: 40px;
    width: 100%;
    /* background:url() ; no-repeat 98% center */
    background-color: #555;  
    margin: 0
  }
  nav {
    display: block;
    margin-left: 0;
    padding: 0;
    margin-bottom: 50px;
  }
  .open {
    overflow: hidden;
    background: #505050;
    height:0;
    margin: 0;
    width: 100%;
  }
  .close{
    height: auto;
    overflow: hidden;
    background: #505050;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  nav ul a {
    display: block;
    text-align: left;
    background: #505050;

    width: 100%;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #404040 ;
  }
  
footer{
  font-size: 12px;
}
} 


.Backdrop {
  
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 6, 0, 0, 0.5);

}

/* Draw Toogle styles */
.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}
.logo{
  text-align: center;
}