
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: cursive;
}

a{
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  font-family: cursive;
}

nav a{
  margin-left: 12px;
    color: rgb(77, 170, 96);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
nav .logo {
  margin-right: auto;
}

 
.logo h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.logo Image{
  float:left;
  background: #555;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: rgba(0, 70, 64, 0.344);
  border-top: 1px solid #eaeaea;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}