.title {
    color: rgb(97, 14, 19);
    padding-bottom: 20px;
    text-align: center;
}
.text {
    color: rgb(4, 78, 1);
    text-align: center;
}
.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.hh{
    text-align: center;
    color:hotpink;
        font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;

}
.fam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error {
    text-align: center;
}

.error a {
    color: #4979ff;
    text-decoration: underline
}

.cent{
    text-align: center;
    width: 60%;
    margin:auto;
    border: 1px solid rgb(49, 3, 3);
    background-color: wheat;

}


@media (max-width: 480px){
 .cent{
     width: 70%;
     
 }
}